<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/add.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <h1>Add a Trip</h1>
            <a href="/travels">Back</a>
            <a href="/logout">Logout</a>
        </div>
        {% if messages %}
            {% for message in messages %}
            <p class="{{ message.level_tag }}">{{ message }}</li>
            {% endfor %}
        {% endif %}
        <form action="/new_trip" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-1">
                    <label for="destination" class="control-label">Destination</label>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" name="destination" value="{{ request.session.destination }}">
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label for="desc" class="control-label">Description</label>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" name="desc" value="{{ request.session.desc }}">
                </div>
            </div>
            <div class="row filler"></div>
            <div class="row">
                <div class="col-2">
                    <label for="start_date" class="control-label">Travel Date From</label>
                </div>
                <div class="col-2">
                    <input type="date" class="form-control" name="start_date">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="end_date" class="control-label">Travel Date To</label>
                </div>
                <div class="col-2">
                    <input type="date" class="form-control" name="end_date">
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>